.custom-bg{
    background-color: #040B14;
}
.css-icon-custom {
    color: #A8A9B4;
}
.css-text-aside{
    
    color: #A8A9B4;
}
.css-bg-iconlist{
    background-color: #1E242C;
}
span a i .css-icon-custom{
    color: #A8A9B4;
}
.css-image-bg-fullscreen{
    height: 100vh;
    background-size: cover;
    background-position: center;
    object-fit: cover;
    background-image: url('/image/sample bg 1st section.jpg');

}
.css-text-shadow-custom{
    text-shadow: 4px 7px 14px rgba(0,0,0,0.41);
}
 .css-hr-custom{
    border: 2px solid #149DDD;
    width: 60px;
}
.css-chevron-color, .custom-icon{
    color: #149ddd;
}

@media (min-width: 320px){
    .css-image-bg-fullscreen{
        margin-top: -76px;
    }
}
.resume-border-left::before{
    content: "";
    position:absolute;
    width: 16px;
    height: 16px;
    border-radius: 50px;
    left:-9;
    top: 0;
    background-color: #ffffff;
    border: 2px solid #149DDD;
    margin-left: -9px;
}
.resume-border-left{
    padding: 0 0 20px 20px;
    margin-top: -2px;
    left: 10;
    position: relative;
border-left: 2px solid #149DDD;;
}
.resume-border-left ul li{
    padding-bottom: 10px;
}
h6{
    font-size: 16px;
    padding: 5px 15px;
    display: inline-block;
    font-weight: 600;
    margin-bottom: 10px;
}
h4{
    font-size: 18px;
    font-weight: 600;
}
.img-custom-transform{
    position: relative;
    display: inline-block;
    border: 2px solid #149DDD;
}
.img-custom-transform img{
display: block;
}
.overlay-text:hover{
    position: absolute;
    top: 50%;
    left: 50%;
    transform:translate(-50%, -50%);
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
}
.img-custom-transform:hover{
    transform: scale(1.1);
    transition: .5s ease-in-out;
    border: 2px solid #040B14;
    z-index: 2;
}
.list-group-item{
    border: none !important;
}